<!doctype html>
<html>
	<head>
		<title>Demo 4</title>
		<link rel="stylesheet" type="text/css" href="css/global.css">
	</head>
	<body>
		<div class="wrapper">
			<header>
				<nav>

				</nav>
				<section class="search">

				</section> <!-- end search -->
			</header>
			<section class="news">

			</section> <!-- end news -->
			<section class="weather">

			</section> <!-- end weather -->
			<footer>
				<section class="reports">
				
				</section> <!-- end reports -->
				<section class+"sports">
					
				</section> <!-- end sports -->
			</footer>
		</div> <!-- end wrapper -->
	</body>
</html>