<!Doctype html>
<html>
	<head>
		<title>Prueba</title>
		<link rel="stylesheet" type="text/css" href="css/global.css">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>
		<div class="wrapper">
			<header>
				<nav id="index">
					Prueba de Texto
				</nav> <!-- end index-->
			</header>
			<div class="content">
				<h1>
					<p title="Reloj de Praga">
						 El fondo  representa a la Tierra y la visión local del cielo. El círculo azul del centro representa nuestro planeta y el azul más oscuro la visión del cielo desde el horizonte. Las áreas rojas y negras indican las partes del cielo que se encuentran sobre el horizonte. Durante el día el sol se sitúa en la zona azul del fondo, mientras que por la noche pasa a situarse en la zona oscura. Desde que amanece hasta que anochece, la mecánica del sol hace que esté siempre posicionado sobre la zona roja.
					</p>
				</h1>
				<section class="news">
					<a href="http://www.google.com" target="_blank">Google</a>
					<a href="http://www.youtube.com" target="_top">Youtube</a>
					<a href="https://www.google.com/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=flowers" title="flower">Search</a>
					<a href="https://www.fb.com" lang="fa">Facebook</a>
					<a href="Pease Allan.pdf">Libro</a>
					<a href="https://www.wikipedia.org">Wikipedia</a>
				</section> <!-- end news -->
				<section class="sports">
					<form>
						<input type="checkbox" value="car"> i have a car <br>
						Country: <input type="text" value="Costa Rica" disabled="disabled">
					</form>
				</section> <!-- end sports -->
				<p></p>
				<p>
					Parrafo 2, parrafo 2, parrafo 2
				</p>
			</div> <!-- end content -->
			<footer>
				<section class="reports">

				</section> <!-- end reports -->
				<p>
					text
				</p>
				<h1>
					Prueba de ~
				</h1>
			</footer>
		</div> <!-- end wrapper -->
	</body>
</html>