<!DOCTYPE HTML>
<html>
	<head>
		<title>Level2</title>
		<link rel="stylesheet" type="text/css" href="css/reset.css">
		<link rel="stylesheet" type="text/css" href="css/global.css">
	</head>
	<body>
		<div class="wrapper">
			<header>
				<section class="title">
					<h1> <span>Archi</span>tecture</h1>
					<span>MOST CREATIVE ARCHITECTURAL BUREAL<span>
				</section> <!-- end banner top -->
				<nav>

				</nav>
			</header>
			<section class="banner">

			</section> <!-- end banner -->
			<section class="space">
				<img src="images/b.jpg">
			</section>	<!-- end space -->
			<div class="main">
				<section class="welcome">
					<h2>Welcome!</h2>
					<p>----------------------------------------------------------</p>
					<img src="images/img1.jpg">
					<p>
						Our Company provides different services from simple planning to the process of building. 
						Welcome to our world where you can find your perfect building.
					</p>
					<p>
						saepe eveniet ut et voluptates estu repudiandae sint et molestiae non recusandaeltauqe eraum rerum hic
					</p>
					<br>
					<br>
					<p> <a href="#">Read more</a> </p>
					
				</section> <!-- end welcome -->
				<section class="solutions">
					<h3>Solutions Overview</h3>
					<p>----------------------------------------------------------</p>
					<img src="images/img2.jpg">
					<p>
						Modern architectural companies offer the wide range of services in the sphere of design and building.
					</p>
					<p>
						Doloresed repeledusempquidbusdamet aut rerum odes necessitatibus saepe evenit ut et voluptates
						estu repudiande sint et molestiae non recusandaeltaque earum
					</p>
					<br>
					<br>
					<p><a href="#"> Read more </a></p>
				</section> <!-- end solutions -->
				<section class="projects">
					<h3>Lastest Projects</h3>
					<p>----------------------------------------------------------</p>
					<img src="images/latest_projects_1.jpg">
					<img src="images/latest_projects_2.jpg">
					<img src="images/latest_projects_3.jpg">
					<img src="images/latest_projects_4.jpg">
					<form>
						<input type="button" value="<">
						<input type="button" value=">">
					</form> 
				</section> <!-- end projects -->
				<section class="services">
					<h3>Services Overview</h3>
					<p>We provide a wide range of different services including architectural and non-architectural services. Our services and materials are of the premium quality & that is why our company has perfect reputation in the sphere of architecture</p>
					<ul id="ul1">
						<li><img src="images/arrow.jpg"> 01.Predesign</li>
						<li><img src="images/arrow.jpg"> 02.Schematic Design</li>
						<li><img src="images/arrow.jpg"> 03.Design development</li>
						<li><img src="images/arrow.jpg"> 04.Constructor documents</li>
					</ul>
					<ul id="ul2">
						<li><img src="images/arrow.jpg"> 05.Rezoning</li>
						<li><img src="images/arrow.jpg"> 06.Project development</li>
						<li><img src="images/arrow.jpg"> 07.Building assessment</li>
						<li><img src="images/arrow.jpg"> 08.Engineering</li>
					</ul>
				</section> <!-- end services -->
				<section class="testimonials">
					<h3>Testimonials</h3>
					<p> <span>"Mam libero tempore massasoluta nobis est eligendi </span> omnis volutasassumenda est, omnis doloresed repeledusempquibusdamet aut rerum odes. necessitatibus saepe evenit ut et voluptates estu repudiandae sint et molestiae non recusandaeltaque earum hic" </p>
					<p> <span>mr.John Smith </span> (manager) <br> 08-08-2010</p>
					<p><a href="#">View All</a></p>
				</section> <!-- end testimonials -->
			</div> <!-- end main -->
			<footer>
				<div class="footer">
					<section class="topFooter">
						<ul> About Us
							<li> COMPANY INFO</li>
							<li> SERVICES</li>
							<li> CLIENTS</li>
							<li> SOLUTIONS</li>
						</ul>
						<ul> Studies
							<li> PROGRAMMING</li>
							<li> FACILITY ASSESSMENTS</li>
							<li> ADA STUDIES</li>
						</ul>
						<ul>Graphics
							<li> Rendering</li>
							<li> Signage</li>
							<li> Marketing materials</li>
						</ul>
						<section class="search">
							
						</section>
					</section> <!-- end top -->
					<section class="bottomFooter">
						<a href="https://www.linkedin.com/uas/login"><img src="images/icon_linked_in.jpg"></a>
						<a href="https://www.gmail.com"><img src="images/icon_mail.jpg"></a>
						<a href="http://www.twitter.com"><img src="images/icon_twitter.jpg"></a>
						<a href="http://www.facebook.com"><img src="images/icon_facebook.jpg"></a>
						<p>Architecture © 2011|<span>Privacy Policy</span></p>
					</section> <!-- end bottom -->
				</div> <!-- end foot -->
			</footer>
		</div>	<!-- end wrapper -->
	</body>
</html>