<!DOCTYPE HTML>
<html>
	<head>
		<title>level1</title>
		<link rel="stylesheet" type="text/css" href="css/reset.css">
		<link rel="stylesheet" type="text/css" href="css/global.css">
	</head>
	<body>
		<div class="wrapper">
			<header>
				<h1>live South Africa 2010</h1>
			</header>
			<div class="main">
				<nav>
					<ul>
						<li><a href="#">WorldCup Homepage</a></li>
						<li><a href="#">El Blog</a></li>
						<li><a href="#">A List Apart</a></li>
						<li><a href="#">SimpleBits</a></li>
						<li><a href="#">Semantic !</a></li>
					</ul>
				</nav>
				<section class="banner">

				</section> <!-- end banner -->
				<section class="form">
					<form>
						<h2> Sing Up!</h2>
						<p> to get the lastesd news</p>
						<label>E-Mail</label> <br>
						<input type="textbox"/>
						<label>Fullname</label>
						<input type="textbox"/>
						<input type="button" value="Sing Me Up!">
					</form>
				</section> <!-- end form -->
				<section class="live">
					<img src="images/logo_fifa.jpg">
					<h2> Live South Africa</h2>
					<p>
						It will not just be the stadiums that will be full during the World
						Cup this year, as South Africa's art gallery prepare for the influx
						of tourist in June and July...
					</p>
				</section> <!-- end live -->
				<section  class="ticket">
					<img src="images/picture_ticket.jpg">
					<h2>2010 Ticket Unveiled</h2>
					<p>
						1. The FIFA Disciplinary Committe. <br>
						2. In addition, the EFA will have to pay a fine of CHF 100,000 and code snipets. <br>
						3. The FIFA Disciplinary Committee.
					</p>
				</section> <!-- end ticket -->
			</div> <!-- end main -->
			<footer>
				<p>  Company | Online Privacy Policy | Terms of Use | Contact us | Accessibility | License Agreements | Approved by avVenta Web Development Capability Manager</p>
			</footer>
		</div> <!-- end wrapper -->
	</body>
</html>