<!DOCTYPE html>
<html>
	<head>
		<title>Tabs</title>
		<link rel="stylesheet" type="text/css" href="css/normalize.css">
		<link rel="stylesheet" type="text/css" href="css/global.css">
	</head>
	<body>
		<div class="wrapper">
			<section class="tabs">
				<input id="tab-1" type="radio" name="radio-set" class="tab-selector-1" checked="checked">
				<label for="tab-1" class="tab-label-1">About us</label>

				<input id="tab-2" type="radio" name="radio-set" class="tab-selector-2" checked="checked">
				<label for="tab-2" class="tab-label-2">How we work</label>

				<input id="tab-3" class="radio" name="radio-set" class="tab-selector-3" checked="checked">
				<label for="tab-3" class="tab-label-3">References</label>

				<input id="tab-4" class="radio" name="radio-set" class="tab-selector-4" checked="checked">
				<label for="tab-1" class="tab-label-1">Contact us</label>

				<div class="clear-shadow"></div>

				<div class="content">
					<div class="content-1">
						<p>Some Content</p>
					</div> <!-- end content-1 -->
					<div class="content-2">
						<p>Some Content</p>
					</div> <!-- end content-2 -->

					<div class="content-3">
						<p>Some Content</p>
					</div> <!-- end content-3 -->

					<div class="content-4">
						<p>Some Content</p>
					</div> <!-- end content-4 -->
				</div> <!-- end content -->
			</section> <!-- end tabs -->
		</div> <!-- end wrapper -->
	</body>
</html>